@import "../mixin";

.container {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  z-index: 5000;

  width: 100%;
  text-align: left;

  padding: 0 18px;
}

.box {
  @extend .buttonWithNoStyle;

  border: 1px solid $color-border-gray;
  border-radius: 5px;
  padding: 14px;
  cursor: pointer;
  background-color: t($color-component-background);

  width: 100%;

  box-shadow: t($shadow-banner);
  .title {
    color:t($color-font-gray);
    font-size: $font-size-small;
    margin-bottom: 5px;
  }

  .contents {
    display: flex;
    justify-content: space-between;

  }
}