@import "../_mixin.scss";

.bannerWrap {
  @include mobile {
    &:last-child {
      display: none;
    }
  }
}

.box {
  user-select: none;

  border-radius: 24px;
  height: 210px;
  padding: 20px;
  width: 100%;

  box-shadow: 0 10px 20px 0 rgb(150 153 159 / 50%);

  cursor: pointer;

  position: relative;

  @include mobile {
    width: 100%;
  }

  .subtitle {
    color: white;
    font-size: large;
    word-break: keep-all;
    user-select: none;

    z-index: 10;
  }

  .description {
    color: white;
    word-break: keep-all;
    user-select: none;
    font-size: medium;

    z-index: 10;
  }

  .image {
    position: absolute;
    right: 3px;
    bottom: 10px;
    user-select: none;

    img {
      height: 100px;
      width: auto;

      @include mobile {
        height: 80px;
      }
    }
  }
}