@import "../mixin";

.listElementContainer {
  padding: 18px 0;


  &:not(:last-child) {
    border-bottom: 1px solid $color-border-gray;

  }

  .wrap {
    display: flex;
    justify-content: space-between;
    color: $color-black-default;

    position: relative;

    @include tablet {
      display: block;
    }

    .group {
      margin-bottom: 5px;

      font-size: $font-size-small;

      :not(:last-child) {
        margin-right: 5px;

        &::after {
          content: "/";
          margin-left: 5px;
        }
      }
    }

    .title {

    }

    .techList {

    }

    .info {
      position: absolute;
      top: 0;
      right: 0;

      display: flex;

      .element {
        text-align: center;

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0;
        font-size: $font-size-small;

        &:not(:last-child) {
          margin-right: 15px;
        }

        .count {
          font-size: $font-size-small;
          margin-left: 5px;
          margin-bottom: 0;
        }

        .icon {
          color: #4f4f4f;
        }
      }
    }
  }
}


.detailContainer {

  background: white;
  border-radius: $border-radius;

  padding: 30px;

  @include mobile {
    padding: 20px $layout-margin-x-mobile;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    .createdInfo {
      display: flex;
      align-items: center;
      gap: 10px;

      .name {
        font-weight: bold;
      }

      p {
        margin-bottom: 0;
      }
    }

    .info {
      display: flex;
      align-items: center;

      .element {
        margin-right: 15px;

        .icon {
          display: inline;
          margin-right: 8px;
        }

        .count {
          display: inline;

        }
      }
    }

  }

  h3 {
    font-size: 1.24rem;
    margin-bottom: 24px;
  }

  .tagContainer {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 5px;

    font-size: small;

    p {
      margin-bottom: 0;
    }

    .group {
      :not(:last-child):after {
        content: "/";
        margin: 0 6px;
      }
    }
  }

}