@import "../mixin";

.container {
  position: sticky;
  top: 80px;
  width: 326px;

  padding: 18px;

  background: white;

  @include mobile {
    display: none;
  }

  :not(:last-child) {
    margin-bottom: 5px;
  }

  .radioWrap {
    overflow-x: scroll;
    text-align: center;

    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .radioGroup {
    white-space: nowrap;

    .button {
    }
  }

  .selectContainer {
    margin-top: 10px;
    line-height: 30px;
  }

}