@import "../mixin";

.container {
  min-height: 60vh;
  justify-content: center;

  @include mobile {
    align-items: normal;
    min-height: 0;
  }

  h2 {
    text-align: center;

    p {
      font-size: medium;
      font-weight: normal;
    }
  }

  .formBox {
    display: block;

    margin-top: 50px;

    @include mobile {
      border: none;
      padding: 0;
    }

    .title {
      margin-bottom: 40px;
    }

    .formItem {
      margin-bottom: 36px;

      .label {

      }

      .radioGroup {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .radioButton {
          text-align: center;
          font-size: small;

          @include mobile {
            padding: 0;
          }
        }
      }
    }

    .nextButton {
      float: right;
      margin-top: 30px;
    }
  }
}

.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: white;

  z-index: 8000;

  text-align: center;
  display: flex;
  justify-content: center;

  .wrap {
    margin-top: 240px;
    z-index: 9999;

    .icon {
      font-size: 3em;
      margin-bottom: 36px;
    }
  }
}
