@import "../mixin";

.container {
  min-height: 60vh;
  justify-content: center;

  @include mobile {
    align-items: normal;
    min-height: 0;
  }

  h2 {
    text-align: center;

    p {
      font-size: medium;
      font-weight: normal;
    }
  }

  .formBox {
    display: block;

    margin-top: 50px;

    @include mobile {
      border: none;
      padding: 0;
    }

    .title {
      margin-bottom: 40px;
    }

    .formItem {
      margin-bottom: 36px;

      .label {

      }

      .tagContainer {
        background: #F0F0F0;
        border-radius: 5px;
        padding: 5px 10px;
        line-height: 30px;

        .tag {
          cursor: pointer;
        }
        .tagSelectedBlue {
          cursor: pointer;
          color: #0070f3;
        }
        .tagSelectedOrange {
          cursor: pointer;
          color: #e3750e;
        }
      }

      .selectContainer {
        margin-top: 10px;
        line-height: 30px;
      }

      .radioGroup {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .radioButton {
          text-align: center;
          font-size: small;

          @include mobile {
            padding:  0;
          }
        }
      }
    }

    .nextButton {
     float: right;
      margin-top: 30px;
    }
  }
}