@import "../mixin";

.container {
  min-height: 60vh;
  justify-content: center;

  border: 1px solid $color-border-gray;
  border-radius: $border-radius;
  background: white;

  margin-top: 30px;
  padding: 40px;

  @include mobile {
    align-items: normal;
    height: 100%;

    border: none;
    margin-top: 0;

    padding: 40px $layout-margin-x-mobile;
  }

  h2 {
    text-align: center;
    font-weight: bold;

    p {
      font-size: medium;
      font-weight: normal;
    }
  }

  .formBox {
    display: block;
    word-break: keep-all;

    @include mobile {
      border: none;
      padding: 0;
    }

    .title {
      margin-bottom: 40px;
      text-align: center;

      h2 {
        margin-bottom: 5px;
      }

      p {
        font-size: medium;
        color: #4f4f4f;
      }
    }

    .formContentWrap {
      height: 100%;

      @include tablet-desktop {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .formContent:first-child {
          border-right: 1px solid $color-border-gray;
          padding-right: 20px;
        }

        .formContent:nth-child(2) {
          padding-left: 20px;
        }
      }
    }

    .formItem {
      margin-bottom: 36px;

      .label {
        font-size: medium;
        margin-bottom: 8px;
      }

      .radioGroup {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .radioButton {
          text-align: center;
          font-size: small;

          @include mobile {
            padding: 0;
          }
        }
      }
    }

    .nextButton {
      float: right;
      margin-top: 30px;
    }
  }
}

.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: white;

  z-index: 800;

  text-align: center;
  display: flex;
  justify-content: center;

  .wrap {
    margin-top: 240px;
    z-index: 999;

    .icon {
      font-size: 3em;
      margin-bottom: 36px;
    }
  }
}
