@import "../mixin";

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;

  padding: 40px 0;

  @include mobile {
    padding: 30px $layout-margin-x-mobile;
    overflow: auto;
    grid-template-columns: 1fr 1fr;
  }
}

.container {

  display: grid;
  grid-template-columns: 3fr 1fr;

  border: 1px solid $color-border-gray;
  border-radius: $border-radius;
  background: white;

  margin-bottom: 50px;

  @include mobile {
    display: block;
    border-left: none;
    border-right: none;
  }

  .listWrap {

    background: white;
    border-right: 1px solid $color-border-gray;

    padding: 10px 18px;

    @include mobile {
      margin: 0;
      padding: 0 $layout-margin-x-mobile;
      border: none;
    }
  }
  .sideWrap {
    height: 100vh;

    @include mobile {
      display: none;
    }
  }
}