@import "../mixin";

.wrap {
  background: white;

  display: grid;
  grid-template-columns: 280px auto;

  border: 1px solid $color-border-gray;
  border-top: none;

  min-height: 93vh;

  section:last-child {
    border-left: 1px solid $color-border-gray;
  }

  @include mobile {
    display: block;
    border: none;
  }
}

.profile {

  border-radius: 2px;
  padding: 25px 10px;

  height: fit-content;
  text-align: center;

  p {
    margin-bottom: 0;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    .name {
      margin-top: 10px;
      font-size: 1.4rem;
      font-weight: bolder;
    }

    .tech {
      margin-top: 10px;
    }

    .tagList {
      line-height: 28px;
    }

    .job {
      background: none;
      display: inline-block;

      &:not(:last-child) {
        &::after {
          content: "/";
          margin: 0 5px;
        }
      }
    }
  }

  .countWrap {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 0 auto auto;
  }
}

.menu {
  margin-top: 20px;

  @include mobile {
    margin-top: 10px;
  }

  .mobileMenu {
    width: 100%;
    overflow: hidden;
    padding: 0 $layout-margin-x-mobile;
  }
}

.contentsContainer {

  padding-bottom: 50px;

  h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid $color-border-gray;
  }

  .contentsBox {
    height: 100%;
    padding: 20px;

    @include mobile {
      border: none;
      padding: 0 $layout-margin-x-mobile;
    }
      &:not(:last-child) {
      margin-bottom: 20px;
    }

  }

  .more {
    width: 100%;
    text-align: center;
  }

  .noData {
    margin: 40px 0;
    width: 100%;
    text-align: center;
  }
}