.wrap {
  margin: 20px 0;
  display: flex;
  gap: 20px;

  p {
    margin-bottom: 0;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    .name {
      font-size: 2.3rem;
      font-weight: bold;
      margin: 0;
    }

    .tagList {
      display: flex;
      gap: 15px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    .job {
      background: none;
      display: inline-block;

      &:not(:last-child) {
        &::after {
          content: "/";
          margin: 0 5px;
        }
      }
    }
  }
}