@import "../mixin";

.pageWrap {
  border-left: 1px solid $color-border-gray;
  border-right: 1px solid $color-border-gray;
  background: white;

  section:not(:last-child) {
    border-bottom: 1px solid $color-border-gray;
  }
}

.likeQuestionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px auto;
}



.answerInput {

  padding: 20px 20px 0 20px;
  background: #FAFAFA;

  @include mobile {
    padding: $layout-margin-x-mobile $layout-margin-x-mobile 0 $layout-margin-x-mobile;
  }

  .inputArea {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 9fr 1fr;
    min-height: 100px;

    .textArea {
      border: 1px solid $color-border-gray;
      border-right: none;

      border-radius: 2px;

      padding: 15px;
    }

    .submitButton {
      height: 100%;
    }
  }

  .confirmShare {
    width: 100%;
    display: flex;
    justify-content: right;

    .message {
      margin-right: 10px;
    }

    .switch {

    }
  }
}

.answerList {
  background: white;

  padding: 20px 30px;
  border-radius: $border-radius;

  @include mobile {
    padding: 10px $layout-margin-x-mobile;
  }
}