$breakpoint-mobile: 335px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;


@mixin mobile {
  @media (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

.mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.tablet {
  display: none;

  @include tablet {
    display: block;
  }
}

.desktopTablet {
  display: block;

  @include mobile {
    display: none;
  }
}

.desktop {
  display: block;
  @include  tablet {
    display: none;
  }
}


.emoji {
  margin-right: 13px;

}

.clearfix {
  display: block;
  content: " ";
  clear: both;
}

.buttonWithNoStyle {
  text-align: inherit;
  border: initial;
  background: inherit;
}



// Variables
$max-width: 1020px;
$height-header-desktop: 65px;
$height-header-mobile: 52px;
$layout-margin-x-desktop: 64px;
$layout-margin-x-mobile: 12px;

$font-size-small: 0.9em;

$color-page-background: #F1F4F7;
$color-black-default: rgb(0, 0, 0, 0.85);
$color-border-gray: #DFDFDF;

$border-radius: 2px;

$message-radius: 12px;

$primary-color: #0087e5;
$primary-color-darker: #003C66;
$primary-color-light: #008DF2;
$primary-color-logo: #008DF2;
