@import "mixin";

.container {
  min-height: 100vh;

  background: $color-page-background;

  .header {
    height: $height-header-desktop;

    @include tablet {
      height: $height-header-mobile;
    }

    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    z-index: 999;
    top: 0;
    background: white;

    .wrap {
      max-width: $max-width;
      margin: 0 $layout-margin-x-desktop;
      width: 100%;

      @include tablet {
        margin: 0 $layout-margin-x-mobile;
      }

      .content {
        height: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
          font-weight: 800;
          font-size: 2rem;
          margin: 0;
          font-family: 'Recipekorea';
          color: $primary-color-logo;
          //text-shadow:
          //        -1px -1px 0 $primary-color-logo,
          //        1px -1px 0 $primary-color-logo,
          //        -1px 1px 0 $primary-color-logo,
          //        1px 1px 0 $primary-color-logo;

          display: block;
          @include tablet {
            display: none;
          }
        }

        .logoContainer {
          display: none;
          @include tablet {
            display: flex;
            justify-content: center;
            align-items: center;
            height: $height-header-mobile;
          }

          .logoImg {
            margin: auto;
            height: 42px;
            width: 42px;
            position: absolute;
            left: 10px;
          }
        }

        .dropdownMenu {
          text-align: center;
        }

        .menu {

          .dropdown {
            text-align: center;
          }

          .avatar {
            cursor: pointer;
            margin-left: 7px;
          }
        }
      }
    }
  }

  .main {
    min-height: 90vh;
    display: flex;
    justify-content: center;

    padding-bottom: 40px;

    .wrap {
      max-width: $max-width;
      margin: 0 $layout-margin-x-desktop;
      width: 100%;

      @include tablet {
        margin: 0;
      }
    }
  }

  .footer {

  }
}