@import "mixin";

.container {
  min-height: 100vh;

  .header {
    height: 65px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    z-index: 9999;
    top: 0;
    background: white;

    .wrap {
      max-width: $max-width;
      margin: 0 $layout-margin-x-desktop;
      width: 100%;

      @include tablet {
        margin: 0 $layout-margin-x-mobile;
      }

      .content {
        height: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
          font-weight: 800;
          font-size: 1.8rem;
          cursor: pointer;
        }

        .menu {

          :not(:last-child) {
            margin-right: 7px;
          }
        }
      }
    }
  }

  .main {
    min-height: 100vh;
    display: flex;
    justify-content: center;

    padding-bottom: 40px;

    .wrap {
      max-width: $max-width;
      margin: 0 $layout-margin-x-desktop;
      width: 100%;

      @include tablet {
        margin: 0 $layout-margin-x-mobile;
      }
    }
  }

  .footer {

  }
}